<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :fg %><br>
    <%= f.text_field :fg %>
  </div>
  <div class="field">
    <%= f.label :ft %><br>
    <%= f.text_field :ft %>
  </div>
  <div class="field">
    <%= f.label :tpm %><br>
    <%= f.text_field :tpm %>
  </div>
  <div class="field">
    <%= f.label :reb %><br>
    <%= f.text_field :reb %>
  </div>
  <div class="field">
    <%= f.label :ast %><br>
    <%= f.text_field :ast %>
  </div>
  <div class="field">
    <%= f.label :stl %><br>
    <%= f.text_field :stl %>
  </div>
  <div class="field">
    <%= f.label :blk %><br>
    <%= f.text_field :blk %>
  </div>
  <div class="field">
    <%= f.label :pts %><br>
    <%= f.text_field :pts %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
