<table class="table">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "position" %></th>
      <th><%= sortable "fg" %></th>
      <th><%= sortable "ft" %></th>
      <th><%= sortable "tpm" %></th>
      <th><%= sortable "reb" %></th>
      <th><%= sortable "ast" %></th>
      <th><%= sortable "stl" %></th>
      <th><%= sortable "blk" %></th>
      <th><%= sortable "pts" %>Pts</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.position %></td>
        <td><%= player.fg %></td>
        <td><%= player.ft %></td>
        <td><%= player.tpm %></td>
        <td><%= player.reb %></td>
        <td><%= player.ast %></td>
        <td><%= player.stl %></td>
        <td><%= player.blk %></td>
        <td><%= player.pts %></td>
      </tr>
    <% end %>
  </tbody>
</table>
