<table class="table">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= link_to "Position", :sort => "position" %></th>
      <th><%= link_to "FG", :sort => "fg" %></th>
      <th><%= link_to "FT%", :sort => "ft" %></th>
      <th><%= link_to "3PM", :sort => "tpm" %></th>
      <th><%= link_to "REB", :sort => "reb" %></th>
      <th><%= link_to "AST", :sort => "ast" %></th>
      <th><%= link_to "STL", :sort => "stl" %></th>
      <th><%= link_to "BLK", :sort => "blk" %></th>
      <th><%= link_to "PTS", :sort => "pts" %>Pts</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.position %></td>
        <td><%= player.fg %></td>
        <td><%= player.ft %></td>
        <td><%= player.tpm %></td>
        <td><%= player.reb %></td>
        <td><%= player.ast %></td>
        <td><%= player.stl %></td>
        <td><%= player.blk %></td>
        <td><%= player.pts %></td>
      </tr>
    <% end %>
  </tbody>
</table>
