<table class="table">
  <thead>
    <tr>
      <th><%= link_to "Name", :sort => "name" %></th>
      <th>Position</th>
      <th>Fg</th>
      <th>Ft</th>
      <th>Tpm</th>
      <th>Reb</th>
      <th>Ast</th>
      <th>Stl</th>
      <th>Blk</th>
      <th>Pts</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.position %></td>
        <td><%= player.fg %></td>
        <td><%= player.ft %></td>
        <td><%= player.tpm %></td>
        <td><%= player.reb %></td>
        <td><%= player.ast %></td>
        <td><%= player.stl %></td>
        <td><%= player.blk %></td>
        <td><%= player.pts %></td>
      </tr>
    <% end %>
  </tbody>
</table>
